p {
    width: 300px;
}

p.p-1::before { 
    content: "Read this -";
    background-color: yellow;
    color: red;
    font-weight: bold;
}

p.p-1::after { 
    content: "Great!";
    color: green;
    font-weight: bold;
}

p.p-2::first-letter {
    font-size: 30px;
}

p.p-2::first-line {
    text-decoration: underline;
}


